@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

.active {
  color: rgb(26 26 26);
  border: 1px solid rgb(26 26 26);
  padding: 0.5rem 0.75rem;
  border-radius: 1.5rem;
  transition: 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .active {
    border-radius: 80px;
    padding: 1.25rem 1.5rem;
    width: 14.813rem;
  }
}

.check {
  transition: 0.3s ease-in-out;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
