@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}
/* toogle styling for organization and applicant */

.active {
  color: rgb(26 26 26);
  border: 1px solid rgb(26 26 26);
  padding: 0.5rem 0.75rem;
  border-radius: 1.5rem;
  transition: 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .active {
    border-radius: 80px;
    padding: 1.25rem 1.5rem;
    width: 14.813rem;
  }
}

.check {
  transition: 0.3s ease-in-out;
}
/* modal styling */

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* input div focus styling */

.hero {
  border-color: #6145d0;
}

.focused-border {
  border-color: #177ae5;
}

/* toastify styling */

.toastify-warning {
  background-color: #ffc107;
  color: #212529;
  width: fit-content;
  padding: 1rem 1.5rem;
  position: fixed;
  z-index: 9999;
  top: 50%;
  right: 30px;
  transform: translate(-50%, -50%);
}

.toastify-success {
  background-color: #28a745;
  color: #fff;
  width: fit-content;
  padding: 1rem 1.5rem;
  position: fixed;
  z-index: 9999;
  top: 50%;
  right: 30px;
  transform: translate(-50%, -50%);
}

.toastify-error {
  background-color: #dc3545;
  color: #fff;
  width: fit-content;
  padding: 1rem 1.5rem;
  position: fixed;
  z-index: 9999;
  top: 50%;
  right: 30px;
  transform: translate(-50%, -50%);
}
